tmp
*.rdb
.**
/_site/
/_site/**
/_drafts/
/_drafts/**
/__references/
/__references/**
/Excalidraw/
/Excalidraw/**
/notebooks/*
!/notebooks/*.ipynb
!/notebooks/*.json
!.gitignore

## You need the Notebooks one!